@import "~antd/dist/antd.css";

.container_layout {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    background-color: aliceblue !important;
}

.container_logo {
    padding: 34px !important;
    box-sizing: border-box;
    background-color: white !important;
}

.header_background {
    background-color: white !important;
}

.ant-layout-sider-children {
    background-color: white !important;
    /* border-left: 1px solid black; */
}

.container_user_info_cover {
    width: 100%;
    height: 90px;
    margin-bottom: 40px;
    padding: 4px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_user_info_cover_info {
    width: 100%;
    height: 100% !important;
    background-color: #f4f6f8;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.container_user_info_cover_info_name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 16px;
}

.container_user_info_cover_info_name_name {
    font-family: Be Vietnam;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.container_user_info_cover_info_name_role {
    font-family: Be Vietnam;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.container_user_info_cover_info_avatar {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_user_info_cover_info_avatar_img {
    width: 40px;
}

.container_menu_title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 18px 40px;
}

.container_menu_title_h4 {
    font-family: Be Vietnam;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.2000000476837158px;
    text-align: left !important;
}

.container_menu_submenu_item {
    font-family: Be Vietnam;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.container_menu_submenu_item:hover {
    font-weight: 600;
    color: #000;
}

.container_menu_submenu_item:active {
    background-color: rgba(0, 171, 85, 0.08);
    font-weight: 600;
    color: #00b533;
}

.ant-menu-item-selected {
    color: #00b533 !important;
    background: #00ab5514 !important;
}

.ant-menu-item::after {
    border-right-color: #00b533 !important;
}

.container_menu_submenu {
    color: #000 !important;
}

.container_menu_submenu:hover {
    color: #00b533 !important;
}

.header_navbar_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header_navbar_container_search {
    border: 0 !important;
    outline: 0 !important;
    font-family: Be Vietnam;
    font-weight: 600;
}

.header_navbar_container_buttons {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header_navbar_container_buttons_button_cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-btn-primary {
    background-color: #00b533 !important;
    border-color: #00b533 !important;
}

.header_navbar_container_buttons_ava_cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_container_title {
    font-family: Be Vietnam;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.content_container_barerr {
    margin-top: 40px;
}

.container_user_info_cover_info {
    background-color: transparent !important;
}

.content_container_barerr_first {
    height: 232px;
    width: 100%;
    background-color: rgb(32, 88, 30);
    border-radius: 16px 16px 0 0;
    position: relative;
}

.content_container_barerr_second {
    height: 48px;
    width: 100%;
    background-color: rgb(42, 133, 39);
    border-radius: 0 0 16px 16px;
}

.content_container_barerr_first_card {
    width: 350px;
    height: 130px;
    position: absolute;
    left: 24px;
    bottom: -24px;
}

.container_user_info_cover_info_avatar_img_barerr {
    width: 128px;
    height: 128px;
}

.container_user_info_cover_info_name_name_barerr {
    font-family: Be Vietnam;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.container_user_info_cover_info_name_role_barerr {
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.content_container_barerr_second {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content_container_main_title {
    width: 100%;
    margin-top: 40px;
}

.content_container_main_title_h2 {
    font-family: Be Vietnam;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

@media (max-width: 800px) {
    .header_navbar_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container_homeside {
        width: 170px;
    }

    .header_navbar_container_buttons {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .header_navbar_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .container_homeside {
        width: 140px;
    }

    .header_navbar_container_buttons {
        display: none !important;
    }
}
