.follwer_container {
    width: 344px;
    height: 96px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.24),
        0px 16px 32px -4px rgba(145, 158, 171, 0.24);
    border-radius: 16px;
}

.follwer_container_ava {
    display: flex;
    justify-content: center;
    align-items: center;
}

.follwer_container_info {
    display: flex;
    flex-direction: column;
}

.follower_container_info_title {
    font-family: Be Vietnam !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #000 !important;
    height: 60% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.follower_container_info_secondary {
    width: 100% !important;
    height: 40% !important;
    display: flex;
    /* justify-content: space-between !important; */
    align-items: center;
    color: #000;
    margin-left: 20px;
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: #637381;
    padding-bottom: 20px;
}

.follower_container_info_secondary_location {
    margin-left: 10px;
}

.follwer_container_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.follwer_container_button_btn {
    font-family: Be Vietnam;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: black !important;
    background-color: white !important;
    border-color: #ccc !important;
    border-radius: 7px;
}

.follwer_container_button_btn:hover {
    background-color: #9b9999 !important;
}
